{% extends 'base.html.twig' %}

{% block title %}Mon Blog symfony | Gestion des articles{% endblock %}

<h1 class="display-4 text-center my-4">Back office | Gestion des articles</h1>

{% block body %}


{% endblock %}